* {
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
body {
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}
.main {
  background-image: url("assets/img/netflixhomepage.jpg");
  height: 110vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(100vw, 1300px);
  position: relative;
}
/*here we used the another box on the main background since to get the desired opacity of th background image
without damaging the representation of the words */
.main .box {
  height: 110vh;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.6;
  background-color: black;
}
nav {
  display: flex;
  /* justify-content: center; */
  max-width: 79vw;
  margin: auto;
  padding: 13px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav img {
  color: rgb(255, 0, 0);
  width: 150px;
  position: relative;
  z-index: 2;
  /* padding-top:40px; */
  opacity: 0.8;
  margin-top: 20px;
  margin: 20px;
}

nav button {
  position: relative;
  z-index: 2;
  margin: 5px;
  padding: 5px 15px;
}
.hero {
  height: calc(100% - 86px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  /* gap:20px; */

  text-align: center;
}
.hero > :first-child {
  font-size: 45px;
  font-weight: bolder;
}
.hero > :nth-child(2) {
  font-size: 28px;
  font-weight: 400;
  margin: 16px;
}
.hero > :nth-child(3) {
  font-size: 28px;
  font-weight: 400;
  margin: 24px;
}
.line {
  background-color: rgb(33, 36, 36);
  height: 4px;
  width: 100%;
}
.lang  {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
padding: 10px inherit;
}
.btn {
  padding: 4px;
  background-color: transparent;
  color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  font-weight: revert-layer;
}

.redbtn {
  background-color: red;
  border: 2px solid red;
}
.btg {
  margin: 3px;
  padding: 15px 24px 15px 24px;
  /* top right bottom left */
  font-size: larger;
  font-weight: bold;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.input {
  font-size: 20px;
  background-color: transparent;
  color: white;
  /* border: 0.1px solid rgba(255,255,255,0,2); */
  border-radius: 3px;
  margin-right: 5px;
  padding: 13px 50px 15px 16px;
}

.one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75vw;
  height: 80vh;
  margin: auto;
  color: white;
}
.oneimage img {
  width: 40vw;
  position: relative;
  z-index: 5;
}
.oneimage {
  position: relative;
}
.oneimage video {
  position: absolute;
  top: 51px;
  right: 0;
  /* object-fit: cover;
    /* display: block; */
  /* overflow: hidden; */
}
.one-data {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-direction: column;
}
.one-data > span:first-child {
  font-size: 48px;
  font-weight: bolder;
}
.one-data :nth-child(2) {
  font-size: 25px;
  font-weight: 400;
}
.threeimage {
  position: relative;
}
.threeimage img {
  position: relative;
  z-index: 5;
}
.threeimage video {
  position: absolute;
  right: 127px;
  top: 46px;
  width: 392px;
}
.faq {
  width: 100vw;
  color: whitesmoke;
}
.faq h1 {
  text-align: center;
  padding: 48px;
}
.faqbox {
  display: flex;
  background-color: rgb(37, 36, 36);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 75vw;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all 2s ease-out;
}
.faqbox span {
  color: antiquewhite;
  font-size: 30px;
  font-weight: normal;
}
.faqbox:hover {
  background-color: rgb(65, 65, 65);
}
.footer {
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
  max-width: 70vw;
  margin: auto;
}
.footer-item {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
footer {
  color: lightgray;
  margin: auto;
  max-width: 80vw;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}
.footer a {
  color: lightgray;
}

footer .questions {
  width: 33vw;
  display: flex;
  align-items: center;
  padding: 34px 27px;
  justify-content: center;
font-size: 19px;
}
.footer a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}
.faq-getstarted {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.netflix-india{
    display: flex;
    justify-content: center;
    width:20vw;
    padding:20px 0px;
}
.head {
  color: antiquewhite;
  font-size: 20px;
  padding: 15px 0px;
  font-weight: normal;
}
.faq-button {
  background-color: red;
  color: white;
  border-color: transparent;
  border-radius: 10px;
  font-size: 30px;
}
.faq-input {
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
ul li {
  list-style: none;
  padding: 10px;
}
.last{
    width: 20vw;
padding: 24px 0px 4px 84px;
}
@media screen and (max-width: 1300px) {
  body {
    flex-wrap: wrap;
  }
  .one {
    flex-wrap: wrap;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: antiquewhite;
    max-width: 70vw;
    margin: auto;
  }
  .footer a {
    color: lightgray;
  }
  .signin {
    width: 90px;
  }
  .input {
    margin: 10px;
  }
  .oneimage video {
    top: 54px;
    right: 0px;
    width: 350px;
  }
  .oneimage img {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .one-data > span:first-child {
    font-size: 35px;
  }
  .one {
    flex-direction: column;
  }
  .third {
    margin-left: 15px;
  }
  .one-data > span:first-child {
    font-size: 35px;
    font-weight: bolder;
  }
  .faqbox span {
    font-size: 21px;
  }
  .threeimage img {
    width: 95vw;
  }
  .threeimage video {
    position: absolute;
    right: 79px;
    top: 26px;
    width: 250px;
  }
}
